<div class="container">
  <h1>RULES</h1>
  <app-nav></app-nav>

  <!-- List of Rules -->
<div>
  <h3>How to Earn Points</h3>
  <ol>
    <li>
      Earn points by completing Online Video Courses, Books, and Website Tutorials.
    </li>
    <li>
      Modifiers will be added based on the speed of completion of courses, books, and tutorials
    </li>
    <li>
      You will be required to present your project and verify completion of any courses for points to be added to the Highscore Board
    </li>
  </ol>
</div>
<div>
  <h3>How to Validate Points</h3>
  <div>
    <h5>Video Courses / Youtube Tutorials</h5>
    <ol>
      <li>Certificate of Completion with a selfie if sent remotely</li>
      <li>Bring Certificate of Completion to sub-group meeting</li>
      <li>Present the resulting project to the sub-group within 2 minutes</li>
      <li>Explain Topic of the Course to the sub-group</li>
    </ol>
  </div>

  <div>
    <h5>Books / Website Tutorials</h5>
    <ol>
      <li>Bring resulting project to the club meeting</li>
      <li>Present the Project</li>
      <li>Explain book project or topic</li>
    </ol>
  </div>

  <div>
    <h5>Personal Projects</h5>
    <ol>
      <li>Explain your current, significant commits to the project</li>
      <li>Show commit history to verify changes</li>
      <li>Maintain consistant commits between meeting</li>
      <li>Points of the group will be distributed based on commit history and useful code committed</li>
    </ol>
  </div>
  </div>

<h3>Points + Multipliers Rubric</h3>
<h6>all time is rounded up + multipliers can be stacked + All scores are saved in comprehensive competitor course history</h6>
<div>
  <h5>Points</h5>
  <table class="table borderless">
    <thead>
      <tr>
        <th scope="col">Type</th>
        <th scope="col">Variable</th>
        <th scope="col">Points</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td scope="row">Paid Video Course</td>
        <td>per 1 hour</td>
        <td class="modified">+100</td>
      </tr>
      <tr>
        <td scope="row">Unpaid Video Course</td>
        <td>per 30 minutes</td>
        <td class="modified">+50</td>
      </tr>
      <tr>
        <td scope="row">Tutorial Book</td>
        <td>per 1 Book</td>
        <td class="modified">+1200</td>
      </tr>
      <tr>
        <td scope="row">Website Tutorial</td>
        <td>Difficulty</td>
        <td class="modified">+300</td>
      </tr>
      <tr>
        <td scope="row">Personal Project</td>
        <td>per significant commit</td>
        <td class="modified">+300</td>
      </tr>
      <tr>
        <td scope="row">Research + Presentation</td>
        <td>none</td>
        <td class="modified">+200</td>
      </tr>
      <tr>
        <td scope="row">Registering</td>
        <td>none</td>
        <td class="modified">+50</td>
      </tr>
      <tr>
        <td scope="row">Group Vote</td>
        <td>Badassery</td>
        <td class="modified">Varies</td>
      </tr>
    </tbody>
  </table>
</div>
<div>
  <h5>Multipliers</h5>
  <table class="table borderless">
    <thead>
      <tr>
        <th scope="col">Type</th>
        <th scope="col">Multiplier</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td scope="row">1 Week Completion</td>
        <td class="modified">1.5x Score</td>
      </tr>
      <tr>
        <td scope="row">2 Weeks Completion</td>
        <td class="modified">1.25x Score</td>
      </tr>
      <tr>
        <td scope="row">3 Weeks Completion</td>
        <td class="modified">1.15x Score</td>
      </tr>
      <tr>
        <td scope="row">Present Course To Club</td>
        <td class="modified"> 1.15x Score</td>
      </tr>
      <tr>
        <td scope="row">Difficulty Variable</td>
        <td class="modified"> 1.15x - 1.5x Score</td>
      </tr>
    </tbody>
  </table>
</div>
</div>