<div class="container">
  <h1>Rules</h1>
  <app-nav></app-nav>

  <!-- List of Rules -->
<div>
  <ol>
    <h3>How to Earn Points</h3>
    <li>
      Earn points by completing Online Video Courses, Books, and Website Tutorials.
    </li>
    <li>
      Modifiers will be added based on the speed of completion of courses, books, and tutorials
    </li>
    <li>
      You will be required to present your project and verify completion of any courses for points to be added to the Highscore Board
    </li>
  </ol>
</div>
<div>
  <h3>How to Validate Points</h3>

  <div>
    <h5>Video Courses | Youtube Tutorials</h5>
    <ol>
      <li>Certificate of Completion with a selfie if sent remotely</li>
      <li>Bring Certificate of Completion to sub-group meeting</li>
      <li>Present the resulting project to the sub-group within 2 minutes</li>
      <li>Explain Topic of the Course to the sub-group</li>
    </ol>
  </div>

  <div>
    <h5>Books | Website Tutorials</h5>
    <ol>
      <li>Bring resulting project to the club meeting</li>
      <li>Present the Project</li>
      <li>Explain book project or topic</li>
    </ol>
  </div>

  <div>
    <h5>Personal Projects</h5>
    <ol>
      <li>Explain you current significant commits to the project</li>
      <li>Show commit history to verify change</li>
      <li>Maintian Consistant Commits between meeting</li>
    </ol>
  </div>
  </div>
</div>