<div class="container">
  <h1>RESOURCES</h1>
  <app-nav></app-nav>

  <table class="table table-hover">
    <thead>
      <tr>
        <th class="visible-md visible-lg">#</th>
        <th class="visible-md visible-lg">Type</th>
        <th>Name</th>
        <th>URL</th>
        <th class="visible-md visible-lg">Comments</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let resource of resources" class="tableRows">
        <th scope="row" class="visible-md visible-lg">{{ resource.id }}</th>
        <td class="visible-md visible-lg">{{ resource.type }}</td>
        <td>{{ resource.name }}</td>
        <td><a href="{{resource.url}}" target="_blank">{{ resource.url }}</a></td>
        <td class="visible-md visible-lg">{{ resource.comments }}</td>
      </tr>
    </tbody>
  </table>
</div>