<div class="container">
  <h1>RESOURCES</h1>
  <app-nav></app-nav>

  <table class="table table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>Type</th>
        <th>Name</th>
        <th>URL</th>
        <th>Comments</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let resource of resources">
        <th scope="row">{{ resource.id }}</th>
        <td>{{ resource.type }}</td>
        <td>{{ resource.name }}</td>
        <td>{{ resource.url }}</td>
        <td>{{ resource.comments }}</td>
      </tr>
    </tbody>
  </table>
</div>