.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align: center;
    /* inline-block space fix */
    /*text-align: center;*/
}

.options {
    margin-top: 2px;
    background: transparent;
}

button {
    font-size: 2em;
    background-color: transparent;
    border: none;
}

.options:hover {
    color: #c53737;
}