<div class="row row-centered">
    <div class="col col-xs-2 col-centered options">
        <button routerLink="/">
          <i class="fa fa-trophy hidden-md hidden-lg" aria-hidden="true"></i>
          <span class="visible-md visible-lg">top</span>
        </button>
      </div>
  <div class="col col-xs-2 col-centered options">
    <button routerLink="/rules">
      <i class="fa fa-gavel hidden-md hidden-lg"></i>
      <span class="visible-md visible-lg">rules</span>
    </button>
  </div>
  <div class="col col-xs-2 col-centered options">
    <button routerLink="/allscores">
      <i class="fa fa-globe hidden-md hidden-lg" aria-hidden="true"></i>
      <span class="visible-md visible-lg">all</span>
    </button>
  </div>
  <div class="col col-xs-2 col-centered options">
    <button routerLink="/resources">
      <i class="fa fa-cutlery hidden-md hidden-lg" aria-hidden="true"></i>
      <span class="visible-md visible-lg">resources</span>
    </button>
  </div>
  <div class="col col-xs-2 col-centered options">
    <button routerLink="/information">
      <i class="fa fa-question hidden-md hidden-lg" aria-hidden="true"></i>
      <span class="visible-md visible-lg">info</span>
    </button>
  </div>
</div>