div {
    width: auto !important;
}
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    text-align: center;
}

.options {
    margin-top: 2px;
    background: transparent;
}

button {
    font-size: 2em;
    background-color: transparent;
    border: none;
}

.options:hover {
    color: #c53737;
}

/* ------------- */