.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align: center;
    /* inline-block space fix */
    /*text-align: center;*/
}

.options {
    margin-top: 10px;
    background-color: black;
}

button {
    background-color: black;
    border: none;
}

.options:hover {
    color: red;

}