<div class="container">
  <h1>INFORMATION</h1>
  <app-nav></app-nav>
  <!-- Required Information
    * Meeting Date
    * Meeting Time
    * Meeting Location
    * Contact Information
      * Slack
      * Discord
      * Email 
  -->
  <div class="container container-nested">
      <h3>General Meeting Information</h3>
      <h6>You don't have to show up to every meeting to compete, I'll just be there if you want to cash in your points</h6>
      <table class="table borderless">
        <thead>
          <tr>
            <th scope="col">Date</th>
            <th scope="col">Location</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td scope="row">Every Monday @ 6:30 PM*</td>
            <td><a href="https://www.google.com/maps/place/University+of+North+Texas+Discovery+Park,+3940+N+Elm+St,+Denton,+TX+76207/@33.2539457,-97.1539903,18z/data=!3m1!4b1!4m5!3m4!1s0x864db595e854e1a1:0x3a9a9ff3cc14dfe3!8m2!3d33.2543416!4d-97.1524722?sa=X&ved=0ahUKEwiXtZqes_TYAhVCA6wKHQziC3QQ8gEIgwEwDw" target="_blank">
              Discovery Park, Inside 1st Floor Computer Lab</a></td>
          </tr>
        </tbody>
      </table>
      <h3>Contact Informaton</h3>
      <table class="table borderless">
        <thead>
          <tr>
            <th scope="col">Type</th>
            <th scope="col">Link + Handle</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td scope="row">Discord</td>
            <td><a href="https://discord.gg/j3D5Zdp" target="_blank">@Heartizack#1562</a></td>
            <td></td>
          </tr>
          <tr>
            <td scope="row">Computer Society Slack</td>
            <td><a href="https://UNTIEEECS.slack.com/" target="_blank">@ZacharyLangley</a></td>
          </tr>
          <tr>
            <td scope="row">Cyber Security Slack</td>
            <td><a href="https://UNTCCSI.slack.com/" target="_blank">@ZacharyLangley</a></td>
          </tr>
          <tr>
              <td scope="row">Primary Email</td>
              <td><a href="mailto:zaclangley04@gmail.com">ZacLangley04@gmail.com</a></td>
            </tr>
          <tr>
            <td scope="row">Secondary Email</td>
            <td><a href="mailto:Heartizack@gmail.com">Heartizack@gmail.com</a></td>
          </tr>
        </tbody>
      </table>
  </div>
</div>