.borderless td, .borderless th {
    border: none;
}
thead {
    color: white;
    text-align: center;
}
tbody {
    color: white;
    padding-top: 10px;
}

th {
    font-size: 20px;
}

td {
    font-size: 15px;
}
.score {
    color: green
}