<div class="container">
  <h1>ALL HIGHSCORES</h1>
  <app-nav></app-nav>
  <table class="table borderless">
    <thead>
      <tr>
        <th scope="col">Handle</th>
        <th scope="col">Major</th>
        <th scope="col">Score</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let competitor of competitors | async">
        <th scope="row">{{ competitor.handle }}</th>
        <td>{{ competitor.major }}</td>
        <td class="score">{{ competitor.score }}</td>
      </tr>
</tbody>
</table>
</div>