<table class="table borderless">
        <thead>
          <tr>
            <th scope="col">Handle</th>
            <th scope="col">Name</th>
            <th scope="col">Major</th>
            <th scope="col">Score</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let competitor of topCompetitors">
            <th scope="row">{{ competitor.handle }}</th>
            <td>{{ competitor.name }}</td>
            <td>{{ competitor.major }}</td>
            <td class="score">{{ competitor.score }}</td>
          </tr>
    </tbody>
</table>